= form_for @app, {:class => "form-horizontal"} do |f|
  -if @app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this app from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, {:class => "control-label"}
    .controls
      = f.text_field :name
  .control-group
    = f.label :tag_line
    .controls
      = f.text_field :tag_line
  .control-group
    = f.label :description
    .controls
      = f.text_area :description, {:class => "span8"}
  .control-group
    = f.label :instructions
    .controls
      = f.text_area :instructions, {:class => "span8"}
  .control-group
    = f.label :github_url
    .controls
      = f.text_field :github_url
  .control-group
    = f.label :demo_url
    .controls
      = f.text_field :demo_url
  .control-group
    = f.label :cfa_project_url
    .controls
      = f.text_field :cfa_project_url
  .control-group
    = f.label :deployments
    .controls
      = f.text_field :deployments
  .form-actions
    = f.submit 'Save', {:class => "btn-primary"}
