%p#notice= notice

%h2
  = @app.name
%br
%p
  %b Tag line:
  = @app.tag_line
%p
  %b Description:
  = @app.description
%p
  %b Instructions:
  = @app.instructions
%p
  %b Github url:
  = @app.github_url
%p
  %b Demo url:
  = @app.demo_url
%p
  %b Deployments:
  = @app.deployments

- if user_signed_in?
  = link_to 'Edit', edit_app_path(@app)
  \|
= link_to 'Back', apps_path
