%p#notice= notice

%h2
  = @app.name
%br
%p
  %b Tag line:
  = @app.tag_line
%p
  %b Description:
  = @app.description
%p
  %b Instructions:
  = @app.instructions
%p
  %b Github url:
  = link_to @app.github_url, @app.github_url, :target => "_blank"
%p
  %b Demo url:
  = link_to @app.demo_url, @app.demo_url, :target => "_blank"
%p
  %b Code for America project:
  = link_to @app.cfa_project_url, @app.cfa_project_url, :target => "_blank"
%p
  %b Deployments:
  = @app.deployments

- if user_signed_in?
  = link_to 'Edit', edit_app_path(@app)
  \|
= link_to 'Back', apps_path
